<!-- snackbar -->
<div id="snackbar"></div>


<!-- modals -->

<div id="editNodeModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="toolbar toolbar-header">
        <h1 class="title">Edit Node</h1>
      </header>
      <div class="modal-body">
        <form id="EditNodeForm" action="" method="post">
          <div class="form-group">
            <label for="NodeIndex">Node Index (dont change):</label>
            <input type="text" name="NodeIndex" value="" disabled>
          </div>
          <div class="form-group">
            <label for="NodeName">Node Title:</label>
            <input type="text" name="NodeName" value="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveNode()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- *************************** -->

<div id="saveGraphModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save Graph</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="SaveGraphForm">
          <label for="SaveGraphFileName">Filename: </label>
          <input type="text" name="SaveGraphFileName" value="">
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="saveGraph()">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
